@model int

<div class="container row pt-4">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Payment Success!</h1>
        Your Order Number is : @Model <br /><br />
        <img src="https://www.freepnglogos.com/uploads/thank-you-png/thank-you-blessings-others-18.png" width="200" alt="colorful thank you square boxes png clipart" /></a>
    </div>
    <div class="col-12 text-center pb-5" style="color:maroon">
        <br />
        Your order has been paid successfully! <br />
        <a asp-area="Admin" asp-controller="Order" asp-action="Details" asp-route-orderId="@Model" class="btn btn-primary">Back to Order Details</a>
    </div>
</div>